nav.navbar.navbar-custom
  .container

    .row
      .col-md-2
        a(href='/')
          h2.logo

      .col-md-6
      .col-md-2
        a(href="http://admin.solarkaro.com" title="Dashboard") 
          h4 Dashboard
      .col-md-2
        a(href="mailto:sanath@solarkaro.com" title="Contact")
          h4 Contact Us
