nav.navbar.navbar-custom
  .container

    .row
      .col-xs-4
        a(href='/')
          h2.logo

      .col-xs-8
        a.pull-right(href="mailto:sanath@solarkaro.com" title="Contact")
          strong Contact Us
