.container

  //- Hero section
  .row.main
    .col-lg-12.text-center
      h1 MONITOR YOUR SOLAR INSTALLATION 24x7
      h2 You focus on building solar plants. Let our software monitor them for you.

      a.action.btn(href="mailto:sanath@solarkaro.com") Learn More
