.container

  //- Hero section
  .jumbotron.hero
    .row
      .col-lg-10.col-sm-8.text-center
        h1 Monitor your solar installations 24x7
        h2 You build solar plans, let us take care of monitoring for you
